body {
    display: flex;
    gap: .5rem;
}

body div {
    flex: 1;
}

body div.body__center {
    margin-top: calc(100vh / 2 - 10%);
}

@media(max-width: 425px) {
    body div.body__center {
        margin-top: 5rem;
    }

    body {
        padding: .5rem;
    }
}
