body {
    display: flex;
    gap: .5rem;
    margin: 0;
}

/* body div:not(.popup) {
    flex: 1;
} */

body div.body__left {
    flex: 1;
}

body div.body__right {
    flex: 1;
}

body div.body__center {
    margin-top: calc(100vh / 2 - 10%);
    width: 400px;
}

.d-none {
    z-index: -1;
    opacity: 0;
    transition: .3s cubic-bezier(0, 0, 1, 1);
}

@media(max-width: 768px) {
    body {
        flex-direction: column;
    }

    body div.body__center {
        margin-top: 5rem;
        order: 60;
        /* padding: 0 .5rem; */
        width: 100%;
    }

    body div.body__left {
        order: 40;
    }

    body div.body__right {
        order: 50;
    }
}
