.button-group {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.button-group button {
    flex: 1;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    border: .3rem solid #fff;
    font-family: monospace;
    font-size: 1rem;
    transition: .3s cubic-bezier(0, 0, 1, 1);
}

.button-group button#button-half {
    border-color: #423dff;
}

.button-group button#button-add {
    border-color: #2ed44b;
}

.button-group button#button-boost {
    border-color: #ff3c3c;
}

.button-group button#button-half:focus-visible {
    outline: .5rem solid #423dff88;
}

.button-group button#button-add:focus-visible {
    outline: .5rem solid #2ed44b88;
}

.button-group button#button-boost:focus-visible {
    outline: .5rem solid #ff3c3c88;
}

@media(hover: hover) {
    .button-group button#button-half:hover {
        background-color: #423dff33;
    }

    .button-group button#button-add:hover {
        background-color: #2ed44b33;
    }

    .button-group button#button-boost:hover {
        background-color: #ff3c3c33;
    }
}

@media(hover: none) {
    .button-group button#button-half:active {
        background-color: #423dff33;
    }

    .button-group button#button-add:active {
        background-color: #2ed44b33;
    }

    .button-group button#button-boost:active {
        background-color: #ff3c3c33;
    }
}

@media(max-width: 425px) {
    .button-group {
        flex-direction: column;
        gap: 0 !important;
    }

    .button-group button {
        margin-bottom: 2rem;
        flex: auto !important;
    }

    .button-group button#button-half {
        order: 100 !important;
    }

    .button-group button#button-add {
        order: 90 !important;
        height: 100px;
    }

    .button-group button#button-boost {
        order: 110 !important;
    }
}
